# Local .terraform directories
**/.terraform/*
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*


# Sensitive variable files
*.tfvars
*.tfvars.json



# Terraform plan files
*.tfplan

# Lock file (optional: commit if you want deterministic provider versions)
.terraform.lock.hcl
